In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
data = {'East':[50, 550],
        'West':[142,351],
        'North':[131,480],
        'South':[70,350]
       }

df = pd.DataFrame(data, index =['Males','Females'])
df

         East  West  North  South
Males      50   142    131     70
Females   550   351    480    350

In [3]:
obs=np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [4]:
chi2_contingency(obs)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))